/**********************************************************/
/**************** Default Layout: Mobile ******************/
/**********************************************************/




/************************************************/
/**************** UnSelectable ******************/
.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/************************************************/
/******* Mobile & Desktop Layout Switcher *******/
.mobile-layout {
    display: block;
}

.desktop-layout {
    display: none;
}

/************************************************/
/************* Background Attributes ************/
* {
    font-family: Source Han Sans CN;
}

body {
    background-color: #F1F8FF;
    padding-top: 55px;
}

.page-container {
    background: url("../assets/img/img-background-mid-splicing.svg");
    background-position: center top;
    background-repeat: repeat-y;
    background-size: 100%;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    box-shadow: 0 0vw 6vw rgba(8, 68, 92, 0.08);
}

/********* Navbar Menubar Navbar-Logo ***********/
/************************************************/
.nav-link:hover,
.nav-link:focus {
    color: #FF8B00;
}

#nav-navbar {
    background-color: #085B7B;
    padding: 0;
    height: 55px;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing,
.navbar-collapse.collapse.show {
    background-color: #FFFFFF;
}

#div-brand-navbar {
    padding-left: 1rem;
    padding-right: 5%;
}

#div-logoimg-navbar {}

#img-logo-navbar {
    height: 40px;
    width: auto;
}

#p-logotextzh-nabvar {
    font-size: 20px;
    font-weight: bolder;
    white-space: nowrap;
    margin: 0;
}

#p-logotexten-nabvar {
    font-size: 10px;
    white-space: nowrap;
    margin: 0;
}

.show .font-white,
.collapsing .font-white {
    color: #085B7B;
}

.collapsing .active,
.show .active {
    color: #FF8B00;
}

.font-white {
    color: #FFFFFF;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link,
.dropdown-menu.show {
    text-align: center;
    white-space: nowrap;
}

.dropdown-menu a {
    color: #ffffff8c;
}

#delimiter-menu-navbar hr {
    height: 2px;
    color: #085B7B;
    margin: 0;
}

/**************** Part_1 AboutUs ****************/
/************************************************/
#div-container-aboutus {
    padding-top: 10vw;
    background: url("../assets/img/img-background-top-NA.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    margin: auto;
}

#div-motto-title-text-aboutus-mobile {
    background: url("../assets/img/icon-aboutus-qmrk-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 2.4vw;
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    padding-bottom: 2.4vw;
}

.motto-title-mobile {
    white-space: nowrap;
    font-size: 4.5vw;
    font-weight: bold;
    color: #FFFFFF;
}

#div-painting-aboutus-mobile {
    margin-top: 9.57vw;
}

#div-vision-aboutus-mobile {
    margin-top: 6.35vw;
    padding: 0 8vw;
}

/******************** Part_2 AboutLemu ********************/
/**********************************************************/
#div-container-aboutlemu {
    margin-top: 13.81vw;
}

#div-title-aboutlemu-mobile {
    margin-bottom: 7.15vw;
}

#div-text-aboutlemu-mobile {
    padding: 0 4.4vw;
}

.text-aboutlemu-mobile {
    font-size: 3.6vw;
    color: #333333;
    font-weight: Regular;
    line-height: 6.04vw;
}

.textbullet-aboutlemu-mobile {
    width: 1.9vw;
}

.div-text-aboutlemu {
    padding: 0;
}

/******************** Part_3 LemuTeam *********************/
/**********************************************************/
#div-container-carousel {
    margin-top: 12.5vw;
    margin-bottom: 6.04vw;
}

#div-title-carousel {
    margin-bottom: 5.84vw;
}

.card-img-overlay {
    margin-top: 4.13vw;
    margin-left: 5.64vw;
    margin-right: 15.32vw;
    padding: 0;
}

.title-carousel-overlay {
    font-size: 2.82vw;
    font-weight: bold;
    line-height: 3.42vw;
    color: #074158;
    margin-bottom: 2.41vw;
}

.text-carousel-overlay {
    font-size: 2.41vw;
    font-weight: Regular;
    line-height: 2.92vw;
    color: #074158;
}

/******************** Part_4 ContantUs ********************/
/**********************************************************/
#p-contactus-title-mobile {
    color: #FFFFFF;
}

#img-titleicon-contantus-mobile {
    width: 7.66vw;
    margin-top: 10.28vw;
    margin-bottom: 2.62vw;
}

#p-text-copyright-footer-mobile {
    color: rgb(255, 255, 255);
    font-size: 2.82vw;
    line-height: 3.6vw;
    padding: 3.4vw;
}

.img-contantus-msgbox {
    width: 6.1vw;
}

.text-contantus-msgbox {
    margin-left: 2.21vw;
    font-size: 2.82vw;
    word-wrap: break-word;
    color: #333333;
}

#div-msgboxes-contantus {
    margin-top: 2.62vw;
}

#div-msgbox-1-contantus {
    border-radius: 1vw 1vw 0 0;
}

#div-msgbox-3-contantus {
    border-radius: 0 0 1vw 1vw;
}

/* .index {
    display: block;
    float: center;
    padding: 0;
} */

/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
} */

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15)
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

.menu-item {
    font-size: 14px;
    color: #FFFFFF;
}

.active-nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #FF8B00;
}

.active-nav-item {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

#collapsibleNavbar {
    background-color: rgba(255, 255, 255, 0.8);
}

#collapsibleNavbar a {
    color: rgba(49, 49, 49, 1);
}

#collapsibleNavbar ul {
    text-align: right;
}

#collapsibleNavbar li {
    display: inline;
}

#img-home {
    width: 100%;
}

.container-md {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-toggler {
    display: flex;
}






/***************************************
    AboutUs section
***************************************/



#IndexHeader p {
    /* margin-left: 19.5vw;
    margin-right: 17vw;
    margin-top: 1.5vw; */
    margin-bottom: 0;
}

#aboutlemu {
    padding-top: 8vw;
}

#img-aboutlemu {
    max-width: 100%;
    height: auto;
}

.p-subtitle-part {
    color: rgb(111, 111, 111);
    font-size: 2vw;
    margin: 0;
}

.p-contantus-text {
    font-size: 2.7vw;
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

#div-container-contantus {
    background: url("../assets/img/img-background-bottom-mobile.svg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#contantus {
    padding-top: 10vw;
}

.div-msgbox-contantus {
    background-color: #fff;
    height: 8vw;
}

.embed-contantus-box {
    height: 6vw;
    max-width: 42px;
}

#farther-contantusbox-contantus {
    padding-top: 3vw;
}



#div-aboutlemu-text embed {
    height: 2vw;
}



#contact-title {
    color: rgb(255, 255, 255);
}

#div-button-mobilemenu {
    display: inline-flex;
}

.img-language-dropdownitem-menubar {
    height: 19px;
    width: auto;
}

.img-menuitem-mobile {
    display: inline-flex;
    height: 19px;
}

/******************* Universal Class **********************/
/**********************************************************/

.svg-w-100 {
    width: 100%;
}

.p-parttitle {
    color: #000000;
    font-size: 4.8vw;
    font-weight: bold;
    margin: 0;
}

.img-titleicon {
    width: 6.4vw;
}

.index-text {
    color: #333333;
    font-size: 3.6vw;
    font-weight: Regular;
    line-height: 6vw;
}

/**************** Cover Bootstrap Class *******************/
/**********************************************************/
p {
    margin: 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #FF8B00;
}

.nav-link {
    font-size: 3.32vw;
    line-height: 5.14vw;
}

.card {
    background-color: transparent;
    border: transparent;
}

/* 小屏幕 <576px sm */
/* @media (min-width: 576px) {} */
/* 中等屏幕 <768px md */
/* @media (min-width:768px) {} */


/**********************************************************/
/*********************** <992px lg ************************/
/**********************************************************/
@media (min-width: 992px) {

    /********* Mobile & Desktop Layout Switcher ***********/
    /******************************************************/
    .mobile-layout {
        display: none;
    }

    .desktop-layout {
        display: block;
    }

    /**************** Website Background ******************/
    /******************************************************/
    /* .page-container{
        background: url("../assets/img/img-background-mid-splicing.svg");
        background-position: center top;
        background-repeat:repeat-y;
        background-size: 100%;
        width: 100%;
        max-width: 1320px;
        margin: auto;
        box-shadow: 0 0vw 6vw rgba(8, 68, 92, 0.08);
    } */
    body {
        padding-top: 88px;
    }

    /************ Navbar Menubar Navbar-Logo **************/
    /******************************************************/
    #nav-navbar {
        height: 88px;
    }

    #delimiter-menu-navbar hr {
        display: none;
    }
    #delimiter-menu-navbar #vr-menu-navbar {
        height: 80%;
        color: white;
        width: 2px;
    }

    .navbar-collapse.collapse.show {
        background-color: transparent;
    }

    .show .font-white {
        color: #ffffff;
    }

    .show .dropdown-item {
        color: #085B7B;
    }

    #div-button-mobilemenu {
        display: none;
    }

    .img-menuitem-mobile {
        display: none;
    }

    /******************* Part_1 aboutus *******************/
    /******************************************************/
    #div-container-aboutus {
        background: url("../assets/img/img-background-top-NA.svg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 200px;
    }

    #div-motto-title-text-aboutus-desktop {
        background: url("../assets/img/icon-aboutus-qmrk-desktop.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-top: 2.5vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        padding-bottom: 2.5vw;
    }

    #img-painting-aboutus-desktop {
        width: 100%;
    }

    .index-text {
        font-size: 1.06vw;
        font-weight: Regular;
        color: white;
    }

    .motto-title-desktop {
        font-size: 2.66vw;
        font-weight: bold;
        color: white;
    }

    #p-vision-aboutus-desktop {
        font-size: 1.16vw;
        font-weight: Regular;
        line-height: 2vw;
        color: #FFFFFF;
    }


    /****************** Part_2 aboutlemu ******************/
    /******************************************************/

    .text-aboutlemu-desktop {
        /* padding: 0; */
        font-size: 1.16vw;
        line-height: 2vw;
        color: #000;

    }

    .div-text-aboutlemu-desktop {
        padding: 0;
    }

    #div-text-aboutlemu-desktop {
        padding: 12px;
    }

    #img-painting-aboutlemu {
        max-width: 90%;
        height: auto;
    }

    /****************** Part_3 Carousel *******************/
    /******************************************************/
    .div-textbullet-aboutlemu-desktop {
        padding: 0;
    }
    .textbullet-aboutlemu-desktop {
        width: 0.75vw;
    }

    .carousel-control-buttonsvg {
        height: 5.8vw;
        max-width: 77px;
    }

    .card-img-overlay {
        margin-top: 21.06%;
        margin-left: 6.44%;
        width: 38.67%;
        height: 39.46%;
    }

    .title-carousel-overlay {
        font-size: 2.16vw;
        line-height: 3.33vw;
        margin-bottom: 3.33vw;
        font-weight: bold;
        color: #074158;
    }
    .text-carousel-overlay {
        font-size: 1.83vw;
        line-height: 2.91vw;
    }

    .card {
        border: transparent;
        background-color: transparent;
    }

    /****************** Part_4 ContantUs ******************/
    /******************************************************/
    #div-container-contantus {
        background: url("../assets/img/img-background-bottom-desktop.svg");
        background-position: center top;
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: 20px;
    }

    .text-contantus-msgbox {
        font-size: 0.9vw;
        word-wrap: break-word;
        color: #333333;
    }

    .div-msgbox-contantus {
        border-radius: 1vw;
        height: 15rem;
        max-height: 90px;
        max-width: 240px;
        box-shadow: 0 0.3vw 1.2vw rgba(12, 65, 135, 0.35);
    }

    #div-msgbox-1-contantus,
    #div-msgbox-3-contantus {
        border-radius: 1vw;
    }

    #p-text-copyright-footer-desktop {
        color: rgb(255, 255, 255);
        font-size: 1.5vw;
        padding: 1vw;
    }

    #p-contactus-title-desktop {
        color: #fff;
    }

    /***************** Universal Class ********************/
    /******************************************************/
    .p-parttitle {
        font-size: 1.5vw;
    }

    .img-titleicon {
        width: 4.2vw;
    }

    /************** Cover Bootstrap Class *****************/
    /******************************************************/
    .nav-link {
        font-size: 15.4px;
        line-height: 0px;
    }
    .card-img {
        width: 120%;
    }
}

/* 特大屏幕 <1200px xl */
@media (min-width: 1200px) {

    /************ Navbar Menubar Navbar-Logo **************/
    /******************************************************/

    /******************* Part_1 aboutus *******************/
    /******************************************************/
    .motto-title-desktop {
        /* margin-top: 8px !important; */
        font-size: 35.2px;
    }

    #p-vision-paragraph-text-aboutus-desktop {
        font-size: 14px;
    }

    #p-vision-aboutus-desktop {
        font-size: 15.4px;
        line-height: 26.4px;
    }

    /****************** Part_2 aboutlemu ******************/
    /******************************************************/
    .text-aboutlemu-desktop {
        font-size: 15.4px;
        line-height: 26.4px;
    }
    .textbullet-aboutlemu-desktop {
        width: 9.9px;
    }

    /****************** Part_3 Carousel *******************/
    /******************************************************/
    .title-carousel-overlay {
        font-size: 28.6px;
        line-height: 44px;
        margin-bottom: 44px;
    }
    .text-carousel-overlay {
        font-size: 24.2px;
        line-height: 38.5px;
    }

    .card-img-overlay {
        margin-top: 87px;
        margin-left: 66px;
    }

    /****************** Part_4 ContantUs ******************/
    /******************************************************/

    #IndexHeader p {
        /* margin-left: 8.5vw; */
        margin-right: -20px;
        margin-top: 0;
    }

    .index-text {
        font-size: 18px;
    }

    #logo-container {
        padding-right: 50%;
        padding-left: 5rem;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem
    }

    #collapsibleNavbar {
        padding-right: 213px;
    }

    .p-contantus-text {
        font-size: 12px;
    }

    #index-aboutlemu-desktop {
        margin-left: 4vw;
        margin-top: 30px;
    }

    .index-text-aboutus {
        font-size: 14px;
    }

    .index-text {
        font-size: 16px;
    }

    #div-container-contantus {
        background: url("../assets/img/img-background-bottom-desktop.svg");
        background-position: center top;
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: 20px;
    }

    #div-container-aboutlemu {
        padding-top: 0vw;
    }

    #icon-aboutlemu-default embed {
        max-width: 60px;
    }

    #div-aboutlemu-text embed {
        height: 14px;
    }

    #icon-aboutlemu-default {
        margin-left: -60px;
    }

    #farther-contantusbox-contantus {
        padding-top: 40px;
    }

    #p-text-copyright-footer-desktop {
        color: rgb(255, 255, 255);
        font-size: 10px;
        padding: 20px;
    }

    .text-contantus-msgbox {
        font-size: 12px;
    }

    /***************** Universal Class ********************/
    /******************************************************/
    .p-parttitle {
        font-size: 19.8px;
    }

    .img-titleicon-desktop {
        width: 57px;
    }
}

/* 超级大屏幕 <1400px xxl */
@media (min-width: 1400px) {
    /****************** Part_3 Carousel *******************/
    /******************************************************/

}