#searchbox {
    background: #3A477A;
    opacity: 1;
    border-radius: 8px 0px 0px 8px;
    font-size: 16px;
    font-family: Segoe UI;
    font-weight: 400;
    line-height: 0px;
    color: #FFFFFF;
    border: transparent;
}

#searchbutton {
    background: #FF803F;
    opacity: 1;
    border-radius: 0px 8px 8px 0px;
    border: transparent;
}

input[type=text]::placeholder {
    color: white;
}
